In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('transformed_train.csv')

In [3]:
df1.sample(10)

,Duration,Total_Stops,Price,Journey_Day,Journey_Month,Dep_hour,Dep_minute,Arrival_hour,Arrival_minute,Airline_Air India,...,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
286,1.538403,0.738595,18260.0,-0.543261,-1.442778,-2.103603,-0.238843,-0.831840,1.737139,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2158,2.166639,0.738595,6065.0,0.861757,-1.442778,-0.868090,0.837736,0.920986,1.737139,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
852,1.047594,0.738595,9001.0,1.213011,1.127881,-0.456252,1.106881,0.531469,-0.511028,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
443,-0.837114,-0.954568,3841.0,-1.245769,0.270995,1.397019,-0.777132,0.531469,0.894077,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
130,-0.719320,-0.954568,7229.0,1.213011,0.270995,1.397019,1.106881,0.726228,1.175097,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4094,-0.817481,-0.954568,3873.0,-0.192006,-0.585891,-0.868090,1.645171,-1.416115,0.332035,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3035,1.636565,0.738595,6883.0,0.861757,-1.442778,-0.456252,-1.315422,0.920986,-1.354090,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3114,0.890535,0.738595,10844.0,0.510503,0.270995,-0.456252,0.030302,0.336711,-0.511028,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,-1.072702,-0.954568,5678.0,-1.245769,1.127881,1.808856,0.568592,0.920986,-1.073070,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [4]:
df1.isna().sum()

Duration                     1913
Total_Stops                  1913
Price                        1913
Journey_Day                  1913
Journey_Month                1913
Dep_hour                     1913
Dep_minute                   1913
Arrival_hour                 1913
Arrival_minute               1913
Airline_Air India            1913
Airline_GoAir                1913
Airline_IndiGo               1913
Airline_Jet Airways          1913
Airline_Multiple carriers    1913
Airline_Other                1913
Airline_SpiceJet             1913
Airline_Vistara              1913
Source_Chennai               1913
Source_Delhi                 1913
Source_Kolkata               1913
Source_Mumbai                1913
Destination_Cochin           1913
Destination_Delhi            1913
Destination_Hyderabad        1913
Destination_Kolkata          1913
Destination_New Delhi        1913
dtype: int64

In [5]:
len(df1)

6656

In [7]:
df1['Airline'].value_counts()

KeyError: 'Airline'